body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100%;
    margin: 50px;
    overflow-x: hidden;
    width: 100%;
}
.page {
    background-color: white;
    height: 21.59cm;
    justify-content: center;
    width: 27.94cm;
    padding: 30px;
}
.pheader {
    text-align: center;
}
.hcontent {
    justify-content: center;
    align-items: center;    
    display: flex;
    padding-right: 50px;
}
#logo {
    height: auto;
    max-width: 100px;
    
}
#regno {
    color: rgb(201, 18, 18);
}
aside {
    padding-left: 50px;   
}
.infobox {
    border: 1px solid black;
    border-top: none;
    margin: 0;
    margin-top: -10px;
    padding: 0;
}
.SGI {
    margin-top: -10px;
    text-align: left;
}
.SGI table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.SGI th{
    margin-left: 10px;
    line-height: 1;
}
.SGI span {
    margin-left: 10px;
}
#shorttable {
    width: 50%;
}
.schedule table {
    border-collapse: collapse;
    width: 100%;
}
.t1 {
    table-layout: fixed;
}

#t1 th[colspan] {
    text-align: center;
}
#p1, #p3 {
    font-size: 10px;
    letter-spacing: -0.5px;
    line-height: 5px;
}
#p2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 0px;
}
#p4 {
    font-weight: 900;
    letter-spacing: 10px;
}
#p5 {
    font-weight: bold;
    padding-left: 20px;
}
#p6 {
    border: 1px solid black;
    background-color: rgb(167, 188, 245);
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
.t1, .t2 {
    border: 1px solid black;
    background-color: rgb(167, 188, 245);
    line-height: 20px;
}
.t3 {
    padding-left: 20px;
}