* {
    margin: 0;
    padding: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: black;
    height: 100%;
    line-height: 12px;
    overflow-x: hidden;
    width: 100%;
}
.page {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 33cm;
    margin: 10% auto;
    width: 21.6cm;
}
.content {
    margin-left: 1cm;
    margin-right: 1cm;
}
.pheader {
    text-align: center;
    margin-top: 50px;
}
.hcontent {
    align-items: center;   
    display: flex;
    justify-content: center; 
    padding-right: 50px;
}
#logo {
    height: auto;
    max-width: 100px;
    
}
#regno {
    color: rgb(201, 18, 18);
}
aside {
    padding-left: 50px;   
}
.infobox {
    border: 1px solid black;
    border-top: none;
    margin: 0;
    padding: 0;
}
.SGI {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: left;
    white-space: nowrap;
}
.SGI table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.SGI span {
    margin-left: 5px;
}
.schedule table {
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
}
.schedule th:nth-child(1),
.schedule td:nth-child(1) {
    width: 15px;
}
.schedule th:nth-child(2),
.schedule td:nth-child(2) {
    width: 75px;
}
.schedule th:nth-child(3),
.schedule td:nth-child(3) {
    width: 25px;
}
.schedule th:nth-child(4),
.schedule td:nth-child(4){
    width: 25px
}
.schedule th:nth-child(5),
.schedule td:nth-child(5){
    width: 80px;
}
.schedule th:nth-child(6),
.schedule td:nth-child(6){
    width: 50px;
}
#shorttable {
    width: 50%;
}
.infofee {
    display: flex;
}
.fees {
    border: 1px solid black;
    border-top: none;
    margin-left: 30px;
    width: 80%;
}
.refundrules {
    margin-left: -10px;
}
.refundrules ol{
    font-style: italic;
    letter-spacing: 2px;
    line-height: 20px;
}
.refundrules table {
    table-layout: fixed;
    text-align: right;
}
.refundrules td {
    white-space: pre;
    text-decoration: underline;
}
.signature {
    align-items: center;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    margin-right: 10%;
    margin-top: 100px;
    text-align: center;
    width: 200px;
}
.signature p {
    font-weight: bold;
    line-height: 15px;
}
.notice {
    background-color: rgb(167, 188, 245);
    border: 1px solid black;
}
#p1, #p2 {
    font-size: 10px;
    letter-spacing: -0.5px;
    line-height: 20px;
}
#p3 {
    font-weight: bold;
    padding-left: 20px;
}
#p4 {
    background-color: rgb(167, 188, 245);
    border: 1px solid black;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
#p5 {
    font-size: 10px;
    font-style: italic;
    font-weight: 500 ;
    letter-spacing: -1px;
    margin: 20px;
}
#p6, #p7 {
    background-color: rgb(167, 188, 245);
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 15px;
    text-align: center;
}
#p8 {
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
#p9 {
    white-space: pre;
    text-decoration: underline;
}
#p10 {
    font-size: 8px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 50px;
    text-align: right;
}
#p11 {
    font-weight: 700;
    margin-left: 5px;
}
#h1-1 {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 20px;
}
#h2-1 {
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.t1, .t2 {
    background-color: rgb(167, 188, 245);
    border: 1px solid black;
    line-height: 20px;
}
.t3 td{
    line-height: 15px;
    padding-left: 10px;
}
.t4 {
    font-size: 10px;
    margin-left: 20px;
}
#utd1 {
    text-align: right;
}
.t5 {
    border-collapse: collapse;
    text-align: right;
    width: 100%;
}
.t5 tr{
    border: 1px solid black;
}
.t6 {
    border-collapse: collapse;
    font-size: 10px;
    font-weight: 550;
    text-align: right;
    white-space: nowrap;
    width: 100%;
}
.t6 td{
    border: 1px solid black;
}
#longtext {
    display: inline-flex;
    white-space: normal;
    width: 150px;
}